.header {
  height: 60px;
  background-color: #a7cec1;
}

.nav {
  display: flex;
  padding: 20px;

  &__link {
    text-transform: uppercase;
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
    font-weight: 600;

    &:hover {
      color: #ffffffb5;
    }

    &.active {
      color: #ffffffb5;
    }

    &.active:after {
      content: "";
      position: relative;
      display: block;
      background-color: #fff;
      height: 2px;
      border-radius: 3px;
      bottom: -5px;
    }
  }
}
