* {
  box-sizing: border-box;
}

.peopleTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  opacity: 0;
  animation: show 1s ease forwards;

  @keyframes show {
    100% {
      opacity: 1;
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    background-color: darkorange;

    &::before {
      content: "< ";
    }

    &::after {
      content: " >";
    }
  }

  &__tools {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__add {
    padding: 12px 10px 12px 35px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: right;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid black;
    background-color: darkorange;
    cursor: pointer;

    &:active {
      animation: f .3s linear;
      @keyframes f {
        50% {
          box-shadow: -10px 0 60px red inset;
        }
      }
    }
  }

  &__clear_query {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: right;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid black;
    background-color: darkorange;
    cursor: pointer;

    &:active {
      animation: f .3s linear;
      @keyframes f {
        50% {
          box-shadow: -10px 0 60px red inset;
        }
      }
    }
  }

  &__search {
    width: 100%;
    padding: 20px 40px;
    font-size: 14px;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: darkorange;

    &:focus {
      animation: shadow 3s ease infinite;

      @keyframes shadow {
        20% {
          box-shadow: 0 0 40px rgba(255, 0, 0, 0.87) inset;
        }
        100% {
          box-shadow: 100vw 0 40px rgba(255, 140, 0, 0.808) inset;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    margin-top: 20px;
  }

  th {
    padding: 10px 30px;
    border: 1px solid black;
    background-color: darkorange;

    &:nth-last-child(n + 3) {
      cursor: pointer;
      background-color: darkorange;
      background-image: url(/images/sort_both.png);
      background-position-x: 90%;
      background-position-y: 52%;
      background-repeat: no-repeat;
    }

    &:nth-last-child(n + 3):active {
      animation: flash .5s ease-in-out;

      @keyframes flash {
        0% {
          background-color: chartreuse;
        }
        50% {
          background-color: darkorange;;
        }
        100% {
          background-color: chartreuse;
        }
      }
    }
  }

  .sorted--asc {
    background-color: red;
  }

  .sorted--desc {
    background-color: blue;
  }

  td {
    padding: 5px 15px;
    border: 1px solid black;
  }

  &__return-to-top {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: darkorange;

    &:active {
      animation: flash .5s ease-in-out;

      @keyframes flash {
        0% {
          background-color: chartreuse;
        }
        50% {
          background-color: darkorange;;
        }
        100% {
          background-color: chartreuse;
        }
      }
    }
  }
}

#person_name {
  cursor: pointer;
  background-color: darkorange;
  background-image: url(/images/sort_both.png);
  background-position-x: 65%;
  background-position-y: 52%;
  background-repeat: no-repeat;
}
