.Header {
  margin: 0 auto;
  &__nav {
    display: flex;
    gap: 50px;
  }

  &__link {
    text-decoration: none;
    color: #254e58;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    padding: 3px;

    &:hover,
    &--active {
      border-color: #254e58;
    }
  }
}
