.peoples {
  padding: 40px;
}

.error-message {
  color: #bc544b;
}

.input {
  width: 400px;
}

.table-header {
  margin: 10px 0 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.table__header-link {
  cursor: pointer;
}
