.section {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  background-color: rgb(149, 149, 255);
  flex-grow: 1;
  border-radius: 10px;
}

.people__page {
  flex-direction: column;
}

.PeopleTable {
  border-collapse: collapse;
  border: 1px solid whitesmoke;
  table-layout: fixed;
  margin-bottom: 20px;
  
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
  }
}

th, td {
  padding: 10px;
  border: 1px solid whitesmoke;
}

.name-link {
  text-decoration: none;
  color: whitesmoke;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.input {
  margin-left: 10px;
  &__container {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    max-width: 770px;
  }
}
