.sorted-cell {
  background-color: hsl(171, 100%, 41%);
}

.cell {
  position: relative;
}

.deleteButton {
  position: absolute;
  right: 0;
  color: red;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}
