body {
  margin-bottom: 80px;
}

.title {
  padding: 20px;
  text-align: center;
}

.container {
  width: max-content;
}

.input {
  max-width: 200px;
  margin-bottom: 20px;
}

.radio > input {
  margin-right: 4px;
}

.select {
  margin-bottom: 12px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
