.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(115, 199, 184);
}

.title {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.PeopleTable {
  border: 1px solid red;
  background: #cbd370;
}

.Person {
  text-align: center;

  &__name {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  &__input {
    width: 25%;
    outline: none;
  }
}

.Person:hover {
  border: 1px solid rgb(0, 13, 255);

  &__name {
    cursor: pointer;
  }
}

.highlight {
  background-color: rgb(26, 221, 78);
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;

  &__link {
    text-decoration: none;
    color: red;
    font-size: 20px;
  }
}
