.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__error {
    color: #f00;
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
